/* Animación de carga */
.loading-enter {
    opacity: 0;
  }
  .loading-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  .loading-exit {
    opacity: 1;
  }
  .loading-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
  }
  
  /* Animación del modal */
  .modal-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  
  .modal-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1000ms, transform 500ms;
  }
  
  .modal-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .modal-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1000ms, transform 1000ms;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  /* multas.css */

/* Animación de carga */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(10deg); }
}

/* Estilo para el spinner */
.animate-spin {
  animation: spin 1s linear infinite; /* Cambié 1s por 3s para hacer la animación más lenta */
}
